.c-card {
  border: none !important;
  background-color: #ffe17b !important;
  min-height: 300px !important;
  max-width: 22rem !important;
  width: 100%;
}

/* Card-Footer */
.c-card .card-footer svg {
  color: black;
  font-size: 22px;
}
.c-card .card-footer svg:hover {
  color: red;
  cursor: pointer;
}

.c-card .form-control {
  height: 100%;
}
